

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: #0b1426;
  color: white;
}
.canvas-btn {
  background-color: transparent;
  border: none;
}
.topbar-btn {
  background: linear-gradient(90deg, #1199fa, #11d0fa);
  border-radius: 4px;
  line-height: 22px;
  border: none;
  outline: none;
  padding: 8px 24px;
}
.logo {
  height: 40px;
  width: 40px;
  margin-right: 10px;
  border-radius: 50%;
}
.canvas {
  background-color: #0b1426;
}
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 5px;
}
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: linear-gradient(90deg, #1199fa, #11d0fa);
}
// --------------------------------------------- Header-------------------------
.navbar {
  background: #0b1426;
  color: white;
  padding-top: 17px;
  padding-bottom: 10px;

  .logo {
    height: 40px;
    width: 40px;
    margin-right: 10px;
    border-radius: 50%;
  }
  a {
    font-size: 1rem;
    text-transform: capitalize;
    color: white;
    font-weight: 600;
  }

  a:focus {
    color: blue;
  }
  .input-search {
    position: relative;
  }
  .input-icon {
    position: absolute;
    top: 30px;
    left: 140px;
  }

  .dropdown-btn {
    background-color: transparent;
    color: white;
    font-weight: 600;
  }
  .dropdown-btn:focus {
    border: none;
  }
  input {
    width: 100%;
    border-radius: 2rem;
    padding: 8px 39px;
    outline: none;
    background: transparent;
    border: 1px solid rgb(227, 227, 227);
  }
  input:focus {
    background-color: white;
    outline: none;
    border: 1px solid blue;
  }
  .header-full {
    display: flex;
    justify-content: space-between;
  }
  .topbar-btn {
    background: linear-gradient(90deg, #1199fa, #11d0fa);
    border-radius: 4px;
    line-height: 22px;
    border: none;
    outline: none;
    padding: 8px 24px;
  }
}
// -------------------------------------------------Footer-----------------------

.footer {
  background: #0b1426;
  color: white;
  .footer-line {
    border: 1px solid white;
    font-weight: bold;
    color: white;
  }
  .footer-img {
    height: 31px;
    width: 200px;
  }
  .footer-icon {
    background-color: white;
    color: black;
    padding: 3px;
  }
}
//---------------------------------------------NFT------------------------------
//-------------------------------------------HERO--------------------------------
// .hero{

// }

//-----------------------------------------Subscription------------------------
// .Subscription{
//     background-image: url('https://crypto.com/nft/assets/images/drops/subscribe-v2.png');
//     background-size: cover;
// }

//-----------------------------------------marketplace------------------------------
//----------------------------------------multicarousel---------------------------
.mutlicarousel {
  padding-top: 20px;
  padding-bottom: 20px;
  // .react-multi-carousel-item {
  //   max-width: 249px;
  //   min-width: 230px;
  // }
  .first {
    background-image: url("https://d2vi0z68k5oxnr.cloudfront.net/e1fea25f-6ae8-4317-8fad-dfc94c03c3ba/original.png?d=lg-cover ");
    background-size: cover;
    height: 200px;
    width: 200px;
    background-position: center;
    border-radius: 20px;
    transition: 0.5s ease-in-out;
    position: relative;
  }
  .second {
    background-image: url("https://d2vi0z68k5oxnr.cloudfront.net/2ba6d3df-5a6a-4b2b-814e-98f0af890eb1/original.jpeg?d=lg-cover ");
    background-size: cover;
    height: 200px;
    width: 200px;
    background-position: center;
    transition: 0.5s ease-in-out;
    border-radius: 20px;
    position: relative;
  }
  .third {
    background-image: url("https://d2vi0z68k5oxnr.cloudfront.net/9e167897-8383-4b46-ba88-ae8bc76154e1/original.png?d=lg-cover");
    background-size: cover;
    height: 200px;
    width: 200px;
    border-radius: 20px;
    background-position: center;
    position: relative;
    transition: 0.5s ease-in-out;
  }
  .fourth {
    transition: 0.5s ease-in-out;
    background-image: url("https://d2vi0z68k5oxnr.cloudfront.net/1a157436-e668-451b-b65c-2b2233e008c4/original.png?d=lg-cover");
    background-size: cover;
    height: 200px;
    background-position: center;
    width: 200px;
    border-radius: 20px;
    position: relative;
  }
  .five {
    transition: 0.5s ease-in-out;
    background-image: url("https://d2vi0z68k5oxnr.cloudfront.net/47ec3963-dd1e-4a05-83c5-4cc96ece5120/original.png?d=lg-cover");
    background-size: cover;
    height: 200px;
    width: 200px;
    background-position: center;
    border-radius: 20px;
    position: relative;
  }
  .six {
    transition: 0.5s ease-in-out;
    background-image: url("https://d2vi0z68k5oxnr.cloudfront.net/bd58d469-3385-4e12-be4a-696792cdcc47/original.png?d=lg-cover");
    background-size: cover;
    height: 200px;
    background-position: center;
    width: 200px;
    border-radius: 20px;
    position: relative;
  }
  .seven {
    transition: 0.5s ease-in-out;
    background-image: url("https://d2vi0z68k5oxnr.cloudfront.net/3d1c8681-5943-456d-9606-823a937b9597/original.png?d=lg-cover");
    background-size: cover;
    height: 200px;
    background-position: center;
    width: 200px;
    border-radius: 20px;
    position: relative;
  }
  .eight {
    transition: 0.5s ease-in-out;
    background-image: url("https://d2vi0z68k5oxnr.cloudfront.net/3c21cdf8-0603-48c8-a1d4-6e7a1bb4228c/original.png?d=lg-cover");
    background-size: cover;
    height: 200px;
    background-position: center;
    width: 200px;
    border-radius: 20px;
    position: relative;
  }
  .below-img {
    height: 31px;
    width: 31px;
    border-radius: 50%;
  }
  .inner {
    position: absolute;
    top: 165px;
    left: 10px;
  }
 
  .first:hover {
    border: 1px solid blue;
    transform: scale(1.1);
  }
  .second:hover {
    
    border: 1px solid blue;
    transform: scale(1.1);
  }
  .third:hover {
    border: 1px solid blue;
    transform: scale(1.1);
  }
  .fourth:hover {
    border: 1px solid blue;
    transform: scale(1.1);
  }
  .five:hover {
    border: 1px solid blue;
    transform: scale(1.1);
  }
  .six:hover {
    border: 1px solid blue;
    transform: scale(1.1);
  }
  .seven:hover {
    border: 1px solid blue;
    transform: scale(1.1);
  }
  .eight:hover {
    border: 1px solid blue;
    transform: scale(1.1);
  }
  @media only screen and (max-width: 600px){
    .first,.second,.third,.fourth,.five,.six,.seven,.eight{
      height: 150px;
      width: 150px;
    }
    .inner {     
      top: 115px;
      left: 10px;
    }
  }
}
//-----------------------------------------explore----------------------------
.explore {
  .cards-top-btn{
    background-color: #0b1426;
    padding: 5px 15px;
    border-radius: 2rem;
    border: 1px solid white;
    outline: none;
    font-weight: 600;
  }
  .img-fluid {
    width: 100%;
    height: auto;
    border-radius: 5px;
  }
  .explore-card-b {
    height: 50px;
    background-color: #e1e1e1ff;
    color: #626973ff;
    font-size: 12px;
    font-weight: 600;
    width: 80%;
    padding: 10px 10px;
    border-radius: 10px;
  }
  .explore-card-c {
    height: 50px;
    background-color: #1199fa1a;
    color: blue;
    font-weight: 600;
    padding: 10px 10px;
    border-radius: 10px;
  }
  .card-img-two {
    height: 20px;
    width: 20px;
    border-radius: 50%;
  }

  input.input-checks {
    width: 20px;
    height: 20px;
  }
.dropdown-btn{
  font-weight: 600;
  color: white;
}
.dropdown-btn:active{
  font-weight: 600;
  border: none;
  outline: none;
  color: white;
}
  .explore-right {
    margin-left: auto;
  }
  // @media only screen and (max-width: 1200px){
  //   .explore-left{
  //     display: none;
  //   }
  // }
}

//-----------------------------------------card one-------------------------
.cardone {
  background-color: white;
  padding-top: 90px;
  padding-bottom: 90px;
  overflow: hidden;
  .anchor-below {
    border: 1px solid #1199fa;
    border-radius: 4px;
    color: #1199fa;
    text-decoration: none;
    padding: 8px 10px;
    text-transform: capitalize;
  }
  .back-btn {
    color: blue;
  }
  .card-one-img2 {
    height: 40px;
    width: 40px;
    border-radius: 20px;
  }
  .img {
    position: relative;
  }
  .cardone-btn {
    border: 1px solid rgb(148, 155, 164);
    border-radius: 2rem;
    padding: 1px 8px;
    line-height: 1.3em;
    color: rgb(148, 155, 164);
  }
  .card-one-img3 {
    position: absolute;
    top: 25px;
    left: 30px;
  }
  .cardone-img {
    border-radius: 10px;
    height: auto;
    max-width: 100%;
  }
}
//----------------------------------------------------Esidebar---------------------------
.sidebar-left{
  position: sticky;
  top: 4rem;
//   .gnJkew{
//   background-color: rgb(72, 144, 9);

// }
// .sc-ksBlkl{
//   background-color: rgb(144, 9, 9);

// }
// .sc-ksBlkl:hover{
//   background-color: rgb(28, 5, 5) !important;
//   color: white;

// }
  .sc-eDvSVe {
    background: #0b1426; // bahir se krna k liya
    font-weight: 700;
    color: white;
  }
  .eVPmrC {
    background: #0b1426;
    
  }
  a{
    color: white;
  }
  .eVPmrC:hover{
    background: #0b1426 !important;
    color: white;
    
  }
  // .ktVuSn {
  //   background: #0b1426;
  // }
  // .sc-eDvSVe:hover {
  //   background: #0b260f I !important;  // andr se krna k liya
  // }
  .lkTtqM {
    background: #0b1426;
  }
  .lkTtqM:hover {
    background: #0b1426 !important;// list types walo ka bahir se
  }
}